/**
 * @Author: yanxinaliang (rainyxlxl@163.com)
 * @Date: 2018/7/11 19:38
 * @Last Modified by: yanxinaliang (rainyxlxl@163.com)
 * * @Last Modified time: 2018/7/11 19:38
 * @disc:Pagination style
 */
@width: 26px;
@inputWidth:4rem;
@fontSize:18px;
@bottomPadding:0.2rem;
@bottomGoSize:35px;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.eboard{
    &-pagination{
        @icon:{
            font-size: @width*0.8;
            color: #ffffff;
            line-height: @width;
        };
        @action:{
            display: inline-block;
            width: @width;
            height: @width;
            text-align: center;
            cursor: pointer;
            vertical-align: middle;
            &.disabled{
                pointer-events: none;
                opacity:0.3;
                cursor: not-allowed;
            }
        };
        &-left{
            @action();
            & >.eboard-icon{
                @icon();
            }
        }
        &-right{
            @action();
            & >.eboard-icon{
                @icon();
            }
        }
        &-bottom{
            position: fixed;
            height: 44px;
            bottom: 54px;
            left: 50%;
            margin-left: -@inputWidth;
            font-size: @fontSize;
            background-color: rgba(0,0,0,0.3);
            border-radius: 999px;
            padding-top: 4px;
            padding-left: 10px;
        }
        &-current{
            width: @inputWidth!important;
            height: @width!important;
            border: 1px solid transparent;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background: #dddddd;
            text-align: center;
            vertical-align: middle;
            border-radius: 5px;
            margin-right: 10px;
            &:hover{
                border:1px solid #09ca51;
            }
        }
        &-total{
            padding: @bottomPadding;
            color: #ffffff;
            display: inline-block;
            vertical-align: middle;
        }
      &-bottomGo{
        display: inline-block;
        margin: 0 5px 0 20px;
        background-color: #666666;
        color: #ffffff;
        border-radius: 100%;
        text-align: center;
        width: @bottomGoSize;
        height: @bottomGoSize;
        line-height: @bottomGoSize;
        cursor: pointer;
      }
    }
    &-pager{
        &-enter-from-right{
            -webkit-transform: translate(-50% ,-50%);
            -moz-transform: translate(-50% ,-50%);
            -ms-transform: translate(-50% ,-50%);
            -o-transform: translate(-50% ,-50%);
            transform: translate(-50% ,-50%);
            animation: page-enter-from-right ease 500ms;
        }
        &-enter-from-left{
            -webkit-transform: translate(-50% ,-50%);
            -moz-transform: translate(-50% ,-50%);
            -ms-transform: translate(-50% ,-50%);
            -o-transform: translate(-50% ,-50%);
            transform: translate(-50% ,-50%);
            animation: page-enter-from-left ease 500ms;
        }
        &-leave-to-left{
            -webkit-transform: translate(-150% ,-50%);
            -moz-transform: translate(-150% ,-50%);
            -ms-transform: translate(-150% ,-50%);
            -o-transform: translate(-150% ,-50%);
            transform: translate(-150% ,-50%);
            animation: page-leave-to-left ease 500ms;
        }
        &-leave-to-right{
            -webkit-transform: translate(50% ,-50%);
            -moz-transform: translate(50% ,-50%);
            -ms-transform: translate(50% ,-50%);
            -o-transform: translate(50% ,-50%);
            transform: translate(50% ,-50%);
            animation: page-leave-to-right ease 500ms;
        }
    }
}

.eboard-disable{
    .eboard-pagination{
        &-left,&-right{
            display: none;
        }
        &-bottom{
            pointer-events: none;
        }
    }
}




@keyframes page-enter-from-right {
    from{
        -webkit-transform: translate(50% ,-50%);
        -moz-transform: translate(50% ,-50%);
        -ms-transform: translate(50% ,-50%);
        -o-transform: translate(50% ,-50%);
        transform: translate(50% ,-50%);
    }
    to{
        -webkit-transform: translate(-50% ,-50%);
        -moz-transform: translate(-50% ,-50%);
        -ms-transform: translate(-50% ,-50%);
        -o-transform: translate(-50% ,-50%);
        transform: translate(-50% ,-50%);
    }
}
@keyframes page-enter-from-left {
    from{
        -webkit-transform: translate(-150% ,-50%);
        -moz-transform: translate(-150% ,-50%);
        -ms-transform: translate(-150% ,-50%);
        -o-transform: translate(-150% ,-50%);
        transform: translate(-150% ,-50%);
    }
    to{
        -webkit-transform: translate(-50% ,-50%);
        -moz-transform: translate(-50% ,-50%);
        -ms-transform: translate(-50% ,-50%);
        -o-transform: translate(-50% ,-50%);
        transform: translate(-50% ,-50%);
    }
}

@keyframes page-leave-to-left {
    from{
        -webkit-transform: translate(-50% ,-50%);
        -moz-transform: translate(-50% ,-50%);
        -ms-transform: translate(-50% ,-50%);
        -o-transform: translate(-50% ,-50%);
        transform: translate(-50% ,-50%);
    }
    to{
        -webkit-transform: translate(-150% ,-50%);
        -moz-transform: translate(-150% ,-50%);
        -ms-transform: translate(-150% ,-50%);
        -o-transform: translate(-150% ,-50%);
        transform: translate(-150% ,-50%);
    }
}

@keyframes page-leave-to-right {
    from{
        -webkit-transform: translate(-50% ,-50%);
        -moz-transform: translate(-50% ,-50%);
        -ms-transform: translate(-50% ,-50%);
        -o-transform: translate(-50% ,-50%);
        transform: translate(-50% ,-50%);
    }
    to{
        -webkit-transform: translate(50% ,-50%);
        -moz-transform: translate(50% ,-50%);
        -ms-transform: translate(50% ,-50%);
        -o-transform: translate(50% ,-50%);
        transform: translate(50% ,-50%);
    }
}