/**
 * @Author: yanxinaliang (rainyxlxl@163.com)
 * @Date: 2018/7/11 19:38
 * @Last Modified by: yanxinaliang (rainyxlxl@163.com)
 * * @Last Modified time: 2018/7/11 19:38
 * @disc:Pagination style
 */
@iconSize: 26px;
@inputWidth:40px;
@fontSize:18px;
@bottomPadding:0.2rem;
@bottomGoSize:35px;
@height:44px;
@bottom:54px;
@currentColor:#333;
@totalColor:#fff;
@splitMargin:5px;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.eboard{
    &-disabled{
    
    }
    &-pagination{
        @icon:{
            font-size: @iconSize*0.8;
            color: #ffffff;
            line-height: @iconSize;
        };
        @action:{
            display: inline-block;
            width: @iconSize;
            height: @iconSize;
            line-height: @iconSize;
            text-align: center;
            cursor: pointer;
            vertical-align: middle;
            position: relative;
            top: -2px;
            &.disabled{
                pointer-events: none;
                opacity:0.3;
                cursor: not-allowed;
            }
        };
        &-left{
            @action();
            & >.eboard-icon{
                @icon();
            }
        }
        &-right{
            @action();
            & >.eboard-icon{
                @icon();
            }
        }
        &-bottom{
            position: fixed;
            height: @height;
            bottom: @bottom;
            left: 50%;
            transform: translateX(-50%);
            font-size: @fontSize;
            background-color: rgba(0,0,0,0.3);
            border-radius: 999px;
            padding: 0 @height/2;
            line-height: @height;
            padding-right: 0;
        }
        &-input{
            width: @inputWidth!important;
            height: @iconSize!important;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background: #dddddd;
            text-align: center;
            border-radius: 5px;
            border: none;
            &-label{
                display: none;
            }
        }
        &-total{
            color: @totalColor;
            &:before{
                content: '/';
                margin: 0 @splitMargin;
                color: @currentColor;
            }
        }
      &-bottomGo{
        display: inline-block;
        margin: 0 5px 0 0;
        background-color: #666666;
        color: #ffffff;
        border-radius: 100%;
        text-align: center;
        width: @bottomGoSize;
        height: @bottomGoSize;
        line-height: @bottomGoSize;
        cursor: pointer;
      }
    }
    &-pager{
        &-enter-from-right{
            -webkit-transform: translate(-50% ,-50%);
            -moz-transform: translate(-50% ,-50%);
            -ms-transform: translate(-50% ,-50%);
            -o-transform: translate(-50% ,-50%);
            transform: translate(-50% ,-50%);
            animation: page-enter-from-right ease 500ms;
        }
        &-enter-from-left{
            -webkit-transform: translate(-50% ,-50%);
            -moz-transform: translate(-50% ,-50%);
            -ms-transform: translate(-50% ,-50%);
            -o-transform: translate(-50% ,-50%);
            transform: translate(-50% ,-50%);
            animation: page-enter-from-left ease 500ms;
        }
        &-leave-to-left{
            -webkit-transform: translate(-150% ,-50%);
            -moz-transform: translate(-150% ,-50%);
            -ms-transform: translate(-150% ,-50%);
            -o-transform: translate(-150% ,-50%);
            transform: translate(-150% ,-50%);
            animation: page-leave-to-left ease 500ms;
        }
        &-leave-to-right{
            -webkit-transform: translate(50% ,-50%);
            -moz-transform: translate(50% ,-50%);
            -ms-transform: translate(50% ,-50%);
            -o-transform: translate(50% ,-50%);
            transform: translate(50% ,-50%);
            animation: page-leave-to-right ease 500ms;
        }
    }
    &-page-show{
        visibility: visible;
    }
    &-page-hide{
        visibility: hidden;
        margin-left: -100%;
    }
}

.eboard-disable{
    .eboard-pagination{
        &-left,&-right{
            display: none;
        }
        &-bottom{
            pointer-events: none;
            padding-right:@height/2;
        }
        &-input{
            display: none;
            &-label{
                display: inline;
            }
        }
        &-bottomGo{
            display: none;
        }
    }
}




@keyframes page-enter-from-right {
    from{
        -webkit-transform: translate(50% ,-50%);
        -moz-transform: translate(50% ,-50%);
        -ms-transform: translate(50% ,-50%);
        -o-transform: translate(50% ,-50%);
        transform: translate(50% ,-50%);
    }
    to{
        -webkit-transform: translate(-50% ,-50%);
        -moz-transform: translate(-50% ,-50%);
        -ms-transform: translate(-50% ,-50%);
        -o-transform: translate(-50% ,-50%);
        transform: translate(-50% ,-50%);
    }
}
@keyframes page-enter-from-left {
    from{
        -webkit-transform: translate(-150% ,-50%);
        -moz-transform: translate(-150% ,-50%);
        -ms-transform: translate(-150% ,-50%);
        -o-transform: translate(-150% ,-50%);
        transform: translate(-150% ,-50%);
    }
    to{
        -webkit-transform: translate(-50% ,-50%);
        -moz-transform: translate(-50% ,-50%);
        -ms-transform: translate(-50% ,-50%);
        -o-transform: translate(-50% ,-50%);
        transform: translate(-50% ,-50%);
    }
}

@keyframes page-leave-to-left {
    from{
        -webkit-transform: translate(-50% ,-50%);
        -moz-transform: translate(-50% ,-50%);
        -ms-transform: translate(-50% ,-50%);
        -o-transform: translate(-50% ,-50%);
        transform: translate(-50% ,-50%);
    }
    to{
        -webkit-transform: translate(-150% ,-50%);
        -moz-transform: translate(-150% ,-50%);
        -ms-transform: translate(-150% ,-50%);
        -o-transform: translate(-150% ,-50%);
        transform: translate(-150% ,-50%);
    }
}

@keyframes page-leave-to-right {
    from{
        -webkit-transform: translate(-50% ,-50%);
        -moz-transform: translate(-50% ,-50%);
        -ms-transform: translate(-50% ,-50%);
        -o-transform: translate(-50% ,-50%);
        transform: translate(-50% ,-50%);
    }
    to{
        -webkit-transform: translate(50% ,-50%);
        -moz-transform: translate(50% ,-50%);
        -ms-transform: translate(50% ,-50%);
        -o-transform: translate(50% ,-50%);
        transform: translate(50% ,-50%);
    }
}