/*
 * @Author: Liheng (liheeng@gmail.com) 
 * @Date: 2018-05-24 10:07:13 
 * @Last Modified by:   Liheng (liheeng@gmail.com) 
 * @Last Modified time: 2018-05-24 10:07:13 
 */
.drawing-area {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #FAFAFA;
    border: 1px solid #EBE9DF;
    display: flex;
    justify-content: center;
    align-items: center;

    .pdf-layer {
      position: absolute;
    }
    
    .canvas-container {
      position: absolute;
      top: 0;
      left: 0;
    }

    .canvas_cover {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1000;
      cursor: pointer;
    }

    .drawing-board {
      %style-drawing-corner {
        width: 79px;
        height: 79px;
        position: absolute;
      }
      position: relative;
      width: 447px;
      height: 663px;
      .corner-top-left {
        @extend %style-drawing-corner;
        top: 0;
        left: 0;
        border-top: 2px solid #C1C1C1;
        border-left: 2px solid #C1C1C1;
      }
      .corner-top-right {
        @extend %style-drawing-corner;
        top: 0;
        right: 0;
        border-top: 2px solid #C1C1C1;
        border-right: 2px solid #C1C1C1;
      }
      .corner-bottom-left {
        @extend %style-drawing-corner;
        bottom: 0;
        left: 0;
        border-bottom: 2px solid #C1C1C1;
        border-left: 2px solid #C1C1C1;
      }
      .corner-bottom-right {
        @extend %style-drawing-corner;
        bottom: 0;
        right: 0;
        border-bottom: 2px solid #C1C1C1;
        border-right: 2px solid #C1C1C1;
      }
    }
}